:root {
  --main: #c2e049;
  --main2:#387a65;
}

p {
  margin-top: 0; 
  color:var(--main2);
}


body {
  background-color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-x: hidden; 
  overflow-y: auto; 
  max-height: 100vh; 
}

/* font default */
h2, h3, h4, h5, h6 {
  color: var(--main2);
}
h2, h3 {
  font-weight: bold; 
  margin-top: 30px;
}


/* links */
a {
  text-decoration: none;
  color: inherit; 
}

nav a.active {
  text-decoration:underline;
}

nav a {
  font-size: 26px;
  color: var(--main);
  text-decoration: none;
  font-weight: normal;
  position: relative;
  left: -20%;
}


header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: -10px;
  color: var(--main);
  position: relative;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  flex-grow: 1
}

hr {
  width: 100%;
  border: 1px solid var(--main);
  margin: 0;
}

.intro {
  margin-top: -10px;
  margin-left: 5px;
  width: 100%;
}

.center-image {
  position: absolute; 
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  z-index: 10; 
}

#oscillating-image {
  max-width: 400px; 
  height: auto;
}

/* specific project */
.project-details {
  margin-top:-20px;
  text-align: center;
}

.project-details p, .project-details h3 {
  text-align: left;
  max-width: 700px; 
  margin: 0 auto; 
  word-wrap: break-word; 
  padding-top:10px;
}

.project-details h1{
  padding-top:20px;
  font-size: 24px;
  color: var(--main);
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

#typing-text {
  font-size: 18px;
  color: var(--main2);
  padding-left:15px;
  animation: typing 4s steps(60, end);
}


