body {
  background-color: #ffffff;
  font-family: 'Helvetica', sans-serif;
  overflow: hidden;
  cursor: url('circleCursor.png'), auto;
}

#header {
  text-align: left;
  margin-top: -100px;
  z-index: 1;
}
:root {
  --black: #1a171e;
  --blue: #c2e049;
}


#header h1 {
  font-size: 172px;
  font-weight: bolder;
  color: var(--black);
  overflow: hidden;
  border-right: .15em solid var(--blue); /* cursor !!! */
  white-space: nowrap; 
  letter-spacing: .01em; 
  width: fit-content;
  animation: 
    typing 3.4s steps(20, end),
    blink-caret .45s step-end infinite;
}

/* the typing effect */
@keyframes typing {
  0% { width: 0% }
  100% { width: 100% }
}

/* cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--blue) }
}


#header .highlight {
  color: var(--blue);
}
hr {
  display: block;
  border-color: var(--black);
  margin-top: -7em;
  border-style: inset;
  border-width: 1px;
}

#sub-header {
  text-align: center;
  max-width: 600px;
  z-index: 4;
}

#sub-header p {
  text-align:left;
  font-size: 18px;
  color: var(--black);
}

#projects {
  text-align: left;
  margin-top: 18px;
  z-index: 4;
}

#projects a {
  display: inline;
  font-size: 18px;
  color: var(--black);
  margin-bottom: 10px;
}

#old {
  text-align: left;
  margin-top: 10px;
  z-index: 4;
}

#old a {
  display: table;
  font-size: 18px;
  color: var(--black);
  margin-bottom: 10px;
  text-decoration:none;
}
#old:hover {
  color: var(--blue);
}


/* circles FLOATING */

.circles {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
  pointer-events: none; 

}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 50px;
	height: 50px;
	background: rgba(46, 44, 44, 0);
  border: 15px solid var(--black); /* White semi-transparent border */
  border-radius: 50%;
	animation: animate 25s linear infinite;
	bottom: -100px;
}

.circles li:nth-child(1) {
	left: 10%;
	width: 300px;
	height: 300px;
	animation-delay: 5s;
	animation-duration: 31s;
	border-radius: 25%;
  border: 30px solid var(--blue); /* White semi-transparent border */
  bottom: -400px;

}

.circles li:nth-child(2) {
	left: 5%;
	width: 20px;
	height: 20px;
	animation-delay: 3s;
	animation-duration: 25s;
	border-radius: 50%;
  background: var(--blue); 
  border: 20px solid var(--blue); 
}

.circles li:nth-child(3) {
	left: 80%;
	width: 600px;
	height: 600px;
	animation-delay: 0s;
	animation-duration: 40s;
	border-radius: 50%;
  border: 20px solid var(--blue); 
  bottom: -800px;

}

.circles li:nth-child(4) {
	left: 30%;
	width: 80px;
	height: 80px;
  animation: rotateShape2 25s linear infinite;
  border: 20px solid var(--black); 
	border-radius: 50%;
  bottom: -150px;

}

.circles li:nth-child(5) {
	left: 65%;
	width: 30px;
	height: 30px;
	animation-delay: 2s;
	background: var(--black);
  animation: rotateShape2 25s linear infinite;
	animation-duration: 28s;
	border-radius: 25%;

}

/* circle animation*/

@keyframes animate {
	0% {
		transform: translateY(0) rotate(-20deg);
		opacity: 1;
	}
	20% {
		transform: translateY(-60vh) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-300vh)  rotate(80deg);
		opacity: 1;
	}
}

@keyframes rotateShape2 {
  0% {
      transform: translateY(0) rotate(20deg); /* Adjust rotation for the second shape */
      opacity: 1;
  }
  20% {
      transform: translateY(-24vh) rotate(0deg); /* Adjust rotation for the second shape */
      opacity: 1;
  }
  100% {
      transform: translateY(-120vh) rotate(-80deg); /* Adjust rotation for the second shape */
      opacity: 1;
  }
}

/* end of circles */


/* draggable divs go down here*/
