body {
  background-color: #E9E5E1;
  font-family: 'Helvetica', sans-serif;
  overflow: hidden;
  cursor: url('circleCursor.png'), auto;
}

#header {
  text-align: left;
  margin-top: -100px;
  z-index: 1;
}
:root {
  --black: #1a171e;
  --blue: #6260CE;
}


#header h1 {
  font-size: 172px;
  font-weight: bolder;
  color: var(--black);
  overflow: hidden;
  border-right: .15em solid rgba(98, 96, 206, 100); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  letter-spacing: .01em; /* Adjust as needed */
  width: fit-content;
  animation: 
    typing 3s steps(30, end),
    blink-caret .45s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  0% { width: 0 }
  100% { width: 810px }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgba(98, 96, 206, 100) }
}


#header .highlight {
  color: var(--blue);
}
hr {
  display: block;
  border-color: var(--black);
  margin-top: -7em;
  border-style: inset;
  border-width: 1px;
}

#sub-header {
  text-align: left;
  max-width: 600px;
  z-index: 1;
}

#sub-header p {
  text-align:left;
  font-size: 24px;
  color: var(--blue);
}

#projects {
  text-align: left;
  margin-top: 18px;
  z-index: 1;
}

#projects a {
  display: inline;
  font-size: 18px;
  color: var(--black);
  margin-bottom: 10px;
}

#old {
  text-align: left;
  margin-top: 10px;
  z-index: 1;
}

#old a {
  display: table;
  font-size: 18px;
  color: var(--black);
  margin-bottom: 10px;
  text-decoration:none;
}

/*#projectDisplay{

}*/
/* Animated Circles CSS */

.circles {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
  pointer-events: none; 

}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 50px;
	height: 50px;
	background: rgba(46, 44, 44, 0);
  border: 15px solid rgba(46, 44, 44, 100); /* White semi-transparent border */
  border-radius: 50%;
	animation: animate 25s linear infinite;
	bottom: -100px;
}

.circles li:nth-child(1) {
	left: 10%;
	width: 300px;
	height: 300px;
	animation-delay: 5s;
	animation-duration: 31s;
	border-radius: 25%;
  border: 30px solid rgba(46, 44, 44, 100); /* White semi-transparent border */
  bottom: -400px;

}

.circles li:nth-child(2) {
	left: 5%;
	width: 20px;
	height: 20px;
	animation-delay: 3s;
	animation-duration: 25s;
	border-radius: 50%;
  background:rgba(98, 96, 206, 100); 
  border: 20px solid rgba(98, 96, 206, 100); 
}

.circles li:nth-child(3) {
	left: 80%;
	width: 600px;
	height: 600px;
	animation-delay: 0s;
	animation-duration: 40s;
	border-radius: 50%;
  border: 20px solid rgba(98, 96, 206, 100); 
  bottom: -800px;

}

.circles li:nth-child(4) {
	left: 30%;
	width: 80px;
	height: 80px;
  animation: rotateShape2 25s linear infinite;
  border: 20px solid rgba(98, 96, 206, 100); 
	border-radius: 50%;
  bottom: -150px;

}

.circles li:nth-child(5) {
	left: 65%;
	width: 30px;
	height: 30px;
	animation-delay: 2s;
	background: rgba(46, 44, 44, 100);
  animation: rotateShape2 25s linear infinite;
	animation-duration: 28s;
	border-radius: 25%;

}


@keyframes animate {
	0% {
		transform: translateY(0) rotate(-20deg);
		opacity: 1;
	}
	20% {
		transform: translateY(-60vh) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-300vh)  rotate(80deg);
		opacity: 1;
	}
}

@keyframes rotateShape2 {
  0% {
      transform: translateY(0) rotate(20deg); /* Adjust rotation for the second shape */
      opacity: 1;
  }
  20% {
      transform: translateY(-24vh) rotate(0deg); /* Adjust rotation for the second shape */
      opacity: 1;
  }
  100% {
      transform: translateY(-120vh) rotate(-80deg); /* Adjust rotation for the second shape */
      opacity: 1;
  }
}

/* end of circles */
